.idea
.coverage
MANIFEST
coverage.xml
nosetests.xml
pylint.txt
toy.py
tox.ini
violations.pyflakes.txt
cover/
build/
docs/_build
*.pyc
*.swp
*.egg
env/
dist
venv
*-checkpoint.ipynb
tmp.ipynb
tmp
esdoc_api/TODO.txt
esdoc_api.egg-info
esdoc_api-ws.conf
esdoc_api-supervisord.conf
/ops
/pyesdoc
/archive
/resources/db